h1{
    text-align: center;
    margin-bottom: 5px; /* table से थोड़ी दूरी */
    color: rgb(27, 10, 19);
}
table{
    margin-left: auto;
    margin-right: auto;
    border: 1px rgb(65, 44, 25);
    border-collapse: collapse;
    color: rgba(26, 24, 20, 0.551);

}
th,td{
    border: 2px solid black;
    text-align: center;
    padding: 6px;

}
/* 1st column */
table th:nth-child(1),
table td:nth-child(1) {
    width: 10px;}
    
/* 2nd column */
table th:nth-child(2),
table td:nth-child(2) {
    width: 200px;}

/* 3rd column */
table th:nth-child(3),
table td:nth-child(3) {
    width: 100px; } 

    /* 4th column */
table th:nth-child(4),
table td:nth-child(4) {
    width: 10px; }
th{
    background-color: antiquewhite;
}
td{
    
}